body {
    background-image: url(../images/5325598.jpg);  
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode: lighten;
    font-family: 'Times New Roman' ;
    color: black;
}

header {
    opacity: 0.9;
    bottom: 50px;
}

h1 {
    margin-top: 10px;
}

.user-card {
    position: sticky;
    top: 100px;
}

.nav-tabs {
    position: sticky;
    top: 100px;
    z-index: 1000;
}

p {
    margin: auto;
}

input #profile_image {
    display: none;
}

h3 {
    font-size: 3vw;
    font-weight: bolder;
}

#create_post {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 10%;
    text-decoration: none;
}

.user-image {
    border-radius: 50%;
}

.post-picture img{
    width: 100%;
    height: auto;
}

.form-group img{
    width: 100%;
    height: auto;
}

footer {
    height: 20px;
    background-color: darkgray;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a{
    margin: 0 auto;
    color: white;
    display: block;
}