body {
    background-image: url(../images/sauna-2844863_1280.jpg);  
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    font-family: 'Times New Roman' ;
    color: white;
}

h1 {
    margin-top: 10px;
}

.user-card {
    position: sticky;
    top: 100px;
}

.nav-tabs {
    position: sticky;
    top: 100px;
    z-index: 1000;
}

p {
    margin: auto;
}

input #profile_image {
    display: none;
}

h3 {
    font-size: 3vw;
    font-weight: bolder;
}

#create_post {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 10%;
    border-radius: 50%;
    text-decoration: none;
    color: blue;
}

.user-image {
    border-radius: 50%;
}

.post-picture img{
    width: 100%;
    height: auto;
}

.form-group img{
    width: 100%;
    height: auto;
}