body {
    background-image: url(../images/girl-2607110_1280.jpg);  
    background-position: center center; 
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: cover;
    background-color:rgba(255,255,255,0.1);
    background-blend-mode:lighten;
    font-family: 'Times New Roman' ;

}

header {
    opacity: 0.4;
}

h1 {
    color: white;
    font-size: 6vw;
}

header {
    font-size: 2vw;
}